server:
  port: ${PORT:8889}

spring:
  application:
    name: arq1-config-server
  profiles:
    active: loc
  cloud:
    config:
      server:
        git:
          #uri: https://gitlab.com/gincol-blog-2/arq1-config-server.git
          uri: https://github.com/gincol/arq1-config-server.git
#          searchPaths: 'config-files/{application}'
          searchPaths: 'config-files/{profile}'
          clone-on-start: true
          force-pull: true
#          username: gines
#          password: g1ncOlgit
#        monitor:
#          github:
#            enabled: true
#          bitbucket:
#            enabled: false
#          gitlab:
#            enabled: false
  rabbitmq:
    host: 192.168.99.100
    port: 5672
    username: user
    password: password

eureka:
#  instance:
#    metadata-map:
#      user.name: ${spring.security.user.name}
#      user.password: ${spring.security.user.password}
  client:
    service-url:
      defaultZone: http://eureka:password@localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: '*'
        exclude:
          - env
  endpoint:
    health:
      show-details: ALWAYS

logging:  
  file: logs/${spring.application.name}.log
  level:
    com.netflix.discovery: 'OFF'
    org.springframework.cloud: 'DEBUG'
    es.gincol.blog: 'DEBUG'  
