server:
  port: ${PORT:8889} #usamos un puerto no standard (8888) para verificar que todos los clientes conectan bien

spring:
  application:
    name: arq1-config-server
  profiles:
    active: loc
  cloud:
    config:
      server:
        git:
          uri: https://gitlab.com/gincol-blog-2/arq1-config-server.git
#          uri: https://github.com/gincol/arq1-config-server.git
#  No funciona de forma correcta con refresco rabbitmq
#          searchPaths: 'config-files/{application}'
#  Si funciona de forma correcta con refresco rabbitmq
          searchPaths: 'config-files/{profile}'
          clone-on-start: true
          force-pull: true
#  No necesario al ser publico
#          username: gines
#          password: g1ncOlgit
#  No necesario
#        monitor:
#          github:
#            enabled: true
#          bitbucket:
#            enabled: false
#          gitlab:
#            enabled: false
  rabbitmq:
    host: 192.168.99.100
    port: 5672
    username: user
    password: password

eureka:
  client:
    service-url:
      defaultZone: http://eureka:password@localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: '*'
        exclude:
          - env
  endpoint:
    health:
      show-details: ALWAYS

logging:  
  file: logs/${spring.application.name}.log
  level:
    com.netflix.discovery: 'OFF'
    org.springframework.cloud: 'DEBUG'
    es.gincol.blog: 'DEBUG'  
