server:  
  port: 8761

eureka:
  client:
    fetchRegistry: false
    registerWithEureka: false
    
management:
  endpoints:
    web:
      exposure:
        include: refresh, info, health, metrics, trace
  endpoint:
    health:
      show-details: ALWAYS

logging:  
  file: logs/${spring.application.name}.log
  level:
    com.netflix.discovery: 'OFF'
    org.springframework.cloud: 'DEBUG'
    org.springframework.web: 'INFO'
    es.gincol.blog: 'DEBUG'
