server:
  port: ${PORT:0}
  
eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka
      
logging:
  file: logs/${spring.application.name}.log
  level:
    org.springframework.cloud: DEBUG
    es.gincol.blog: DEBUG
    
spring:
  boot:
    admin:
      client:
        url: http://arq-admin-service

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
    shutdown:
      enabled: true
      
swagger:
  basepackage: es.gincol.blog